header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $c-header;
    z-index: 10;

    .container{
        justify-content: space-between;
        align-items: center;
        height: $header-height;
    }
    .logo{
        height: $header-logo-h;
    }

    nav ul{
        display: flex;

        li{
            height: $header-height;
            display: flex;
            align-items: center;
            position: relative;

            &.current a{
                color: $c-first;
            }
            &.current::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;

                height: 5px;
                width: 100%;
                background-color: $c-first;
            }
        }

        a{
            color: $c-text-main;
            text-decoration: none;
            font-weight: 700;
            padding: 15px;
            font-size: 18px;
        }
    }
}